{{ define "main"}}

<div class="home-hero">

  <div  class="hero-content">
    <h2>work and earn beyond your <span class="gradient-text">immagination</span></h2>
    <p class="text-lg">
      We'll mentor you <code class="hi-gradient">to get highest</code> paying Linux freelance jobs
      <strong class="text-contrast">for a steady income🐧</strong>      
      
    </p>

    <p class="hero-buttons">
      <a class="btn btn-orange-outline" href="/lessons">Learn More</a>      
      <a class="btn btn-green-outline" href="/courses">Hands-on Training</a>  
    </p>

  </div>

  <div class="vid hero-vid">
    <iframe src="https://player.vimeo.com/video/735252380" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div> 
</div>

<hr />
<h2 class="text-center home-heading">Hands-on Training</h2>
<h4 class="home-sub-heading text-center">Level up your Linux skills to become a giant freelancer</h4>
<div class="row row-max-2">

  <a class="card card-course" href="/courses/react-next-firebase">
    <div class="card-content">
        <div class="text-center"><img src="/courses/react-next-firebase/img/featured.jpg"></div>
        <h3>Freelancing On Linux</h3>
        Linux freelance training ecosystem to develop novice to giant Linux freelancer from home 🏠 
  
        <button class="btn btn-green btn-block">Start</button>
    </div>
  </a>


  <a class="card card-course" href="/courses/flutter-firebase">
    <div class="card-content">
        <div class="text-center"><img src="/courses/flutter-firebase/img/featured.jpg"></div>
        <h3>Auto DevOps from Scratch</h3>
        Build a complex production-ready Auto DevOps app from scratch with Firebase 

        <button class="btn btn-green btn-block">Start</button>

    </div>
  </a>


</div>

<hr />
<h2 class="text-center home-heading">Learn by Doing</h2>
<h4 class="home-sub-heading text-center">Fast, efficient, AND EFFICIENCY Hands-on Training</h4>
<div class="row row-max-2">

  <a class="card card-course" href="/courses/stripe-js">
    <div class="card-content">
        <div class="text-center"><img src="/courses/stripe-js/img/featured.jpg"></div>
        <h3>Startup Development Training</h3>
        Influenced by big.gov.bd for develop your system to make your first sale

        <button class="btn btn-green btn-block">Start</button>
    </div>
  </a>


    <a class="card card-course" href="/courses/angular">
      <div class="card-content">
          <div class="text-center"><img src="/courses/angular/img/featured.jpg"></div>
          <h3>Cryptocurrency Exchange Development</h3>
          Cryptocurrency Exchange Development From Scratch Using Docker And Docker Compose
          <button class="btn btn-green btn-block">Start</button>

      </div>
  
  
  </a>


</div>


<hr />

<h2 class="text-center home-heading">Earn by Doing</h2>
<h4 class="home-sub-heading text-center">Develop faster with scalable cloud infrastructure</h4>

<div class="row row-max-2">
  <a class="card card-course" href="/courses/firestore-data-modeling">
    <div class="card-content">
        <div class="text-center"><img src="/courses/firestore-data-modeling/img/featured.jpg"></div>
        <h3>HUGO framework for building websites</h3>
learn Hugo: The world's fastest framework for building websites
 <button class="btn btn-green btn-block">Start</button>

        
    </div>
  </a>

<a class="card card-course" href="/courses/cloud-functions">
  <div class="card-content">
      <div class="text-center"><img src="/courses/cloud-functions/img/featured.jpg"></div>
      <h3>Linux web server hardening from scratch</h3>
      Master the Linux web server hardening from scratch. 
       <button class="btn btn-green btn-block">Start</button>
  
      
  </div>


</a>
</div> 

<hr />


<div class="row row-home">
    <section class="flex-center">
      <a href="/about"
        ><img class="gde-logo"
          src="/img/pages/jeffdelaney-gde-2020.webp" onerror="this.onerror=null; this.src='/img/pages/jeffdelaney-gde-2020.png'"
          alt="Linux Freelancer Expert"
      /></a>
    </section>
    <section>
      <h2>
        🎙️ Your Mentos
      </h2>
      <p>
        Hi, I'm <code class="hi-gradient">Masum</code> and the only thing I know is that I know nothing. I've been playing Linux for over 20 years and started School Of Freelancing with a simple mission... 👉 create practical
        Linux hands-on <strong>training happiness and productivity</strong> 🚀 
      </p>

      <p>📜 <a href="/mission">White Paper Manifesto</a></p>
    </section>
  </div>

  
  {{ partial "footer.html" .  }}

{{ end }}

